/*Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*Body*/
body{
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
/*Main Container*/
.container{
    background: white;
    width: 400px;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
p{
    font-size: 16px;
    color: #575757;
}
/*Input*/
#qrText{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #999;
    padding: 0 15px;
    transition: 0.2s ease;
}
input:focus{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
input::placeholder{
    color: #999;
}
/*Button*/
button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #999;
    font-size: 15px;
    transition: 0.2s ease;
}
button:hover{
    background-color: #999;
}
#img{
    width: 100%;
    overflow: hidden;
    max-height: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-height 0.5s;
}
#img img{
    width: 200px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}
#img.show{
    max-height: 300px;
}
@keyframes shake{
    0%{
        margin-left: 0rem;
    }
    25%{
        margin-left: 0.5rem;
    }
    75%{
        margin-left: -0.5rem;
    }
    100%{
        margin-left: 0rem;
    }
}
.error{
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
}